.wrapper{
    width: 80%;
    margin: 0 auto;

    &_cropper{
        width: 40% !important;
        height: 400px !important;
        position: relative;
    }

    &_ops{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &_croppers{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 30px 0 60px;
    }

    &_cropResult{
        width: 40%;
        height: 400px;

        &_result{
            width: auto;
            height: 400px;
        }
    }
}


/*默认样式*/
.box {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
.imgPreview {
    overflow: hidden;
}