.wrapper{
    width: 80%;
    margin: 0 auto;

    &_ops{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_croppers{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 30px 0 60px;
    }

    &_cropResult{
        width: 40%;
        height: 300px;

        &_result{
            width: auto;
            height: 300px;
        }
    }
}


/*默认样式*/
.box {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
.imgPreview {
    overflow: hidden;
}