.wrapper{
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 1000;
    background-color: #26262666;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 0;
    font-size: 28px;

    &_left{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        &_logo{
            width: 60px;
            height: 60px;
            cursor:pointer;

            &:hover{
                animation: rotating linear 8s backwards;
            }
        }

        &_item{
            cursor:pointer;
            color : #ffffffdd;
            font-family: $baseChineseFontFamily;
            transition: .2s;

            &:hover{
                transform: scale(1.05);
            }

            &:nth-child(2):hover{
                color:#03a9f4aa;
            }

            &:nth-child(3):hover{
                color:#f441a5aa;
            }

            &:nth-child(4):hover{
                color:#ffeb3baa;
            }
            &:nth-child(5):hover{
                color:#FF4D4Faa;
            }

        }
    }

    &_right{
        margin-right: 40px;
        display: flex;
        align-items: center;
        cursor:pointer;
        color : #ffffffdd;

        &_react{
            font-size: 20px;
            margin-right: 50px;
            transition: .2s;
            font-family: $baseChineseFontFamily;
            font-weight: bolder;

            &:hover{
                transform: scale(1.05);
                color: white;
            }
        }

        &_github{
            font-size: 24px;
            transition: .2s;
            font-family: "Comic Sans MS";
            &:hover{
                transform: scale(1.05);
                color: white;
            }
        }

    }
}

@keyframes rotating {
    from{
        transform: scale(1.1) rotateZ(0deg);
    }to{
        transform: scale(1.1) rotateZ(360deg);
     }
}