.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_title{
        width: 100%;
        height: 200px;
        text-align: center;
        line-height: 100px;

        &:hover + div > div {
            animation-play-state: paused;
        }
    }

    &_carousel{
        width: 1800px;
        min-height: 2000px;
        transform-style: preserve-3d;
        border: 1px dashed white;
        padding-top: 400px;
        //镜头位置
        transform: perspective(200px) ;


        &_item{
            transition: .4s;
            width: 400px;
            min-height: 400px;
            font-size: 24px;
            box-sizing: border-box;
            color: white;
            border: 1px solid #373E47;
            background-color: #22272E;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 0;
            margin: 0 auto;
        }


    }
}
