.wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &_leftShadow{
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 100%;
        z-index: 999;
        cursor: pointer;
        background-image: linear-gradient(to right,#69BFFE22 20%,transparent );
        opacity: 0;
        transition: .4s;
        &:hover{
            opacity: 1;
        }
    }

    &_rightShadow{
        right: 0;
        top: 0;
        position: absolute;
        width: 200px;
        height: 100%;
        background-image: linear-gradient(to left, #F94E5622 20%, transparent);
        z-index: 999;
        cursor: pointer;
        opacity: 0;
        transition: .4s;
        &:hover{
            opacity: 1;
        }
    }
}