.wrapper{
    width: 100%;
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    /*在想要禁用滚动条的元素的父级设置滚动条为null*/
    //::-webkit-scrollbar{
    //    height: 4px;
    //}

    &_drawWrapper{
        cursor: default;
        margin-top: 20px;
        width: 1800px;
        height: 120px;
        background-color: #373E47;
        border-radius: 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;

        &_padding{
            width: calc(100% - 40px);
            box-sizing: border-box;
            height: 100%;
            border-radius: 20px;
            overflow:hidden;
        }

        &_drawList{
            height: 100%;
            transition: 1000ms;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            &_waterMark {
                cursor: pointer;
                flex: none;
                height: 80px;
                margin:0 20px;
                border: 2px solid #444C56;
                background-color: #2D333B;
                border-radius: 10px;
            }
        }
    }
}