.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    &_imgContainer{
        width: 1200px;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
        overflow: hidden;
        position: relative;
        &_imgBg{
            width: 1200px;
            display: block;
        }
    }

    /*在想要禁用滚动条的元素的父级设置滚动条为null*/
    //::-webkit-scrollbar{
    //    height: 4px;
    //}

    &_drawWrapper{
        width: 1200px;
        height: 160px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        overflow: hidden;

        &_waterMark {
            cursor: pointer;
            width: 150px;
            height: 150px;
            flex: none;
            margin:0 20px;
            border: 2px solid #444C56;
            background-color: #2D333B;
            border-radius: 10px;
        }
    }
}