.wrapper{
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

    &_videoContainer{
        width:80%;
        height: auto;
    }
    
    &_info{
        width: 80%;
        height: 30px;
        text-align: left;
        font-size: 22px;
        color: #fafafa;
        margin: 10px 0;
    }
    
    &_dragger{
        width: 80%;
        height: 40px;
        background-image: linear-gradient(90deg,#bfbfbf 30%,#bfbfbf 70%,#bfbfbf);
        background-size: 100% 2px;
        background-position: 50%;
        background-repeat: no-repeat;
        position: relative;

        &_ball{
            $wANDh : 12px;
            position: absolute;
            left: 0;
            top: calc(50% - #{$wANDh /2}) ;
            width: $wANDh;
            height: $wANDh;
            z-index: 999;
            border-radius: 50%;
            background-color:#fafafa;
        }
    }
}